/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --shadow: 0px 1px 5px 1px rgb(0, 0, 0, 0.8);
  --text-color: rgba(0, 0, 0, 0.8);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
div,
i,
label,
input {
  font-size: 16px;
  font-family: sans-serif;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  width: 100%;
  height: 100%;
  background: rgb(60, 60, 60);
  display: grid;
  place-content: center;
}
.image-carousel-module {
  position: relative;
  height: 700px;
  width: 1700px;
  background: transparent;
  box-shadow: var(--shadow);
  display: grid;
  place-content: center;
  border-radius: 10px;
}
.slide-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.slides {
  display: flex;
  place-content: center;
}
.left-slide,
.right-slide {
  transform: scale(0.9);
  height: 100%;
  width: 23%;
  opacity: 30%;
}
.middle-slide {
  display: flex;
  place-content: center;
  max-height: 100%;
  max-width: 45%;
  box-shadow: var(--shadow);
}
.arrow {
  position: absolute;
  width: fit-content;
  height: fit-content;
  color: var(--text-color);
  background: transparent;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.arrow:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.left-arrow {
  top: 50%;
  left: 0.8%;
}
.right-arrow {
  top: 50%;
  right: 0.8%;
}
.select-container {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 4%;
  left: 50%;
  translate: -50%;
}
.image-select-button {
  width: 12px;
  height: 12px;
  border: 2px solid var(--text-color);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.image-select-button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.image-select-button.active {
  background: transparent;
  border: 3px solid var(--text-color);
  transform: scale(1.3);
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
